@media all and (max-width: 1220px) {
#header, #page, .topsi, .page-log, .pattern-add2, .footer-stat, #footer, .pic-gallery, #matter, .works, .package, .address, .mapss {
	padding-left: 10px;
	padding-right: 10px;
}
}
@media all and (max-width: 1100px) {
.logo {
	position: absolute;
	z-index: 9999999;
}
.banner-text h2 {
	font-size: 41px;
}
.banner-text h3 {
	font-size: 22px;
}
.best-1 {
	width: 33%;
	margin: 15px 1% 7px 0;
}
}
@media all and (max-width: 1000px) {
.banner-text h2 {
	font-size: 38px;
	margin-top: 10px;
}
.banner-text h3 {
	font-size: 21px;
}
.course-image {
	float: none;
	display: block;
	margin: auto;
	width: 100px;
	margin-bottom: 12px;
}
.course-detail {
	float: left;
	width: 100%;
	text-align: center;
}
.corus h3 {
	font-size: 18px;
	margin: 10px 10px 10px 10px;
}
.corus p {
    margin: 10px 10px 10px 10px;
    font-size: 15px;
}
.all-course h4 {
    margin: 10px 90px 20px;
    font-size: 18px;
}
.makeup-services h4 {
	margin: 10px 100px;
}
}
@media all and (max-width: 900px) {
.lex {
	width: 46%;
	margin: 10px 2%;
}
.entry, .siders {
	float: left;
	width: 100%;
}
.listerz {
	float: left;
	width: 48%;
}
.sider2 {
	float: right;
	width: 48%;
}
.foot {
    float: left;
	width: 35%;
	padding-right: 10px;
}
.foot2 {
    float: left;
	width: 28%;
	margin-left: 2%;
	padding-left: 10px;
}
.foot3 {
	width: 100%;
	margin-left: 0%;
	padding-left: 0px;
	margin-top: 15px;
	padding-top: 15px;
}
.bor2 {
	border-left: none;
	border-top: 1px solid #55BBA7;
}
.makeup-services h4 {
	margin: 10px 70px;
}
.all-course h4 {
    margin: 10px 50px 20px;
    font-size: 17px;
}
.corus h3 {
	font-size: 17px;
}
.corus p {
    font-size: 14px;
}
.banner-text h2 {
	font-size: 35px;
	margin-top: 10px;
}
.core-value {
	float: left;
	width: 44%;
	margin: 10px 3%;
}
.banner-text h3 {
	font-size: 20px;
}
.quick-feat {
	width: 100%;
	padding: 10px 0;
	margin-top: 10px;
}
.feat-1 h3 {
	font-size: 15px;
}
.feat-1 span {
	font-size: 25px;
}
.quick-icon {
	margin-right: 20px;
	margin-left: 8px;
}
#page h2 {
	font-size: 26px;
}
.vide {
	width: 46%;
	margin-right: 30px;
}
.best-1 {
	width: 47%;
	margin: 15px 1.5% 7px 0;
}
.why-us {
	float: left;
	width: 98%;
}
.pattern-add2 .h3 {
	width: 72%;
}
.why-option {
	float: right;
	width: 100%;
	padding: 20px 0;
	background: rgba(35,77,69,0.9);
}
.pattern h3 {
	font-size: 27px;
}
}
@media all and (max-width: 768px) {
.foot {
	width: 34%;
}
#footer p {
	text-align: center;
}
.dest {
	float: none;
	display: block;
	margin: auto;
	text-align: center;
}
.foot-link a {
	margin-bottom: 10px;
	font-size: 14px;
}
.pattern h3 {
	font-size: 24px;
}
.makeup-services h4 {
	margin: 10px 30px;
}
.header-topper {
	width: 100%;
}
.news {
	width: 80%;
	float: left;
	padding-bottom: 10px;
	margin-top: 0px;
	margin-left: 10%;
}
.all-course h4 {
    margin: 10px 20px 20px;
}
#page h2 {
	font-size: 24px;
}
.vide {
	width: 46%;
	margin-right: 20px;
}
.feat-1 h3 {
	font-size: 14px;
}
.feat-1 span {
	font-size: 23px;
}
.quick-icon {
	margin-right: 12px;
	margin-left: 5px;
	width: 50px;
	margin-bottom: 5px;
}
.banner-text {
	position: relative;
	width: 100%;
	text-align: center;
	top: 0;
	color: #fff;
	background: #FFB606;
	left: 0%;
	padding-top: 25px;
	padding-bottom: 30px;
}
.banner-text h2 {
	font-size: 32px;
	margin-top: 0px;
}
.banner-btn {
	padding: 7px 23px;
	font-size: 15px;
}
.best-1 {
	width: 96%;
	margin: 15px 1.5% 7px 0;
}
.pattern-add2 .h3 {
	font-size: 23px;
	float: left;
	text-align: center;
	width: 100%;
	margin-bottom: 20px;
}
.s-enquiry2 {
	float: none;
	display: block;
	margin: auto;
	font-size: 16px;
	padding: 9px 0px;
	width: 130px;
	clear: both;
	text-align: center;
}
}
@media all and (max-width: 600px) {
.contacts {
    width: 98%;
}
.maps {
	width: 94%;
}
.columns {
  width: 98%;
}
.searchs {
	margin-top: 17px;
}
.listerz, .sider2 {
	float: left;
	width: 96%;
	margin-left: 2%;
}
.gal-categ {
	float: left;
	width: 46%;
	text-align: center;
	margin-right: 2%;
	margin-bottom: 20px;
}
.logo {
	max-width: 70px;
}
.foot-link a {
	padding: 0 0px;
	width: 48%;
	text-align: center;
	float: left;
	font-size: 14px;
}
.spacers {
	border-right: none;
	padding-right: 0;
}
.foot {
    float: left;
	width: 100%;
	padding-right: 0px;
	padding-bottom: 12px;
	margin-bottom: 15px;
	border-bottom: 1px solid #55BBA7;
}
.footer-stat p {
	letter-spacing: 0.2px;
	font-size: 13px;
}
.foot2 {
    float: left;
	width: 45%;
	margin-left: 2%;
	padding-left: 10px;
}
.bor {
	border-left: none;
}
.bor3 {
	border-left: 1px solid #55BBA7;
}
.news {
	width: 90%;
	margin-left: 5%;
}
.corus {
	width: 90%;
	margin: 10px 5%;
}
.core-value {
	float: left;
	width: 92%;
	margin: 10px 4%;
}
.vide {
	width: 100%;
	margin-right: 0px;
	margin-bottom: 22px;
}
.feat-1 {
	width: 90%;
	margin: 10px 5%;
	padding: 7px 0;
	border: 1px solid #D9D9D9;
}
.banner-text h3 {
	font-size: 18px;
}
.banner-text h2 {
	font-size: 28px;
	margin-top: 0px;
}
.banner-btn {
	padding: 6px 20px;
	font-size: 14px;
}
}
@media all and (max-width: 500px) {
.lex {
	width: 96%;
	margin: 10px 2%;
}
.banner-text h3 {
	font-size: 16px;
}
.banner-text h2 {
	font-size: 25px;
	margin-top: 0px;
}
.foot2 {
    float: left;
	width: 100%;
	margin-left: 0%;
	padding-left: 0px;
}
.bor3 {
	border-left: none;
	border-top: 1px solid #55BBA7;
	padding-top: 10px;
	padding-bottom: 15px;
}
}
