body {
	margin: 0 auto;
	padding: 0;
	font-family: 'Open Sans', sans-serif;
	font-size: 12px;
	color: #464032;
	background: #F3F3F3;
}
a {
	text-decoration: none;
	color: #A7430F;
}
img {
	width: 100%;
	height: auto;
	border: 0px;
}
.breaker {
	clear: both;
	height: 0.1px;
}
.break {
	clear: both;
	height: 60px;
}
.breake {
	clear: both;
	height: 30px;
}
/*#top-wrap {
    margin: 0 auto;
    padding: 0px 0 4px;
    background: #FBBD06;
}
.topsi {
    max-width: 1200px;
	margin: 0 auto;
	padding: 0px 0;
}
.numberz {
    float: right;
	max-width: 580px;
	margin: 0px 0 0 0;
}
.helps {
	float: left;
	padding: 5px 14px;
	font-size: 14px;
	margin-top: 0px;
	margin-right: 12px;
	background: #000;
}
.helps:hover {
	background: #DA251D;
}
.spacer2 {
	margin-right: 20px;
	float: left;
	margin-top: 6px;
	font-size: 14px;
	color: #fff;
}
.cont-icon {
	float: left;
	width: 13px;
	margin-top: 4px;
	margin-right: 8px;
}
.topsi a {
	color: #fff;
}
.topsi a:hover {
	color: #fff;
}
.list {
    float: left;
	max-width: 350px;
	margin: 2px 0 0 0;
}
.spacer {
	margin-right: 20px;
	float: left;
	margin-top: 4px;
	font-size: 14px;
	color: #fff;
}
#sticky {
	width: 100%;
	margin: 0 auto;
	padding: 0;
	position: relative;
	z-index: 99999999;
}
#sticky.stick {
	position: fixed;
	top: 0;
	height: 70px;	
	background: #1C3A42;
	-webkit-box-shadow: 0 1px 3px rgba(0,0,0,.2);
	-moz-box-shadow: 0 1px 3px rgba(0,0,0,.2);
	box-shadow: 0 1px 3px rgba(0,0,0,.2);
}
#sticky.stick .logo {
	max-width: 100px;
	margin: 4px 0;
}
#wrapper2 {
	margin: 0 auto;
	padding: 0px 0 1px;
	background: #50AF9C;
}
#wrapper {
	margin: 0 auto;
	padding: 4px 0 5px;
	position: absolute;
	width: 100%;
}
#header {
	max-width: 1200px;
	margin: 0 auto;
}
.logo {
	float: left;
	max-width: 70px;
	padding-top: 8px;
}*/
#sticky {
	width: 100%;
	margin: 0 auto;
	padding: 0;
	position: relative;
	z-index: 9999999;
}
#sticky.stick {
	position: fixed;
	top: 0;
}
#wrapper {
	margin: 0 auto;
	padding: 4px 0;
	width: 100%;
	height: 70px;
	background: #fff;
	z-index: 99999;
	-webkit-box-shadow: 0 1px 3px 0 rgba(0,0,0,0.2);
    -moz-box-shadow: 0 1px 3px 0 rgba(0,0,0,0.2);
    box-shadow: 0 1px 3px 0 rgba(0,0,0,0.2);
}
#header {
	width: 94%;
	margin: 0 auto;
}
.logo {
	float: left;
	display: block;
	max-width: 70px;
	position: absolute;
}
.banner-text {
	position: absolute;
	width: 92%;
	text-align: center;
	z-index: 999999;
	top: 200px;
	color: #fff;
	left: 4%;
}
.banner-text h2 {
	font-size: 45px;
    font-weight: 700;
    color: #fff;
    text-transform: uppercase;
    letter-spacing: 0.1rem;
    margin-top: 30px;
	margin-bottom: 5px;
}
.banner-text h3 {
	font-size: 23px;
    font-weight: 700;
    color: #fff;
    letter-spacing: 0.1rem;
    margin-top: 10px;
}
.banner-btn {
	padding: 8px 25px;
	color: #fff;
	font-size: 16px;
	border: 1px solid #fff;
	border-radius: 22px;
}
.banner-btn:hover {
	background: #FBBD06;
}
.quick-feat {
	width: 100%;
	padding: 10px 0;
	position: relative;
	z-index: 99;
	margin-top: -44px;
}
.quick-list {
	margin: auto;
	max-width: 1200px;
}
.feat-1 {
	float: left;
	width: 31.3%;
	margin: 10px 1%;
	padding: 7px 0;
	background: #fff;
	-webkit-box-shadow: 2px 2px 0 1px rgba(0,0,0,.15);
    -moz-box-shadow: 2px 2px 0 1px rgba(0,0,0,.15);
    box-shadow: 2px 2px 0 1px rgba(0,0,0,.15);
	border-radius: 7px;
}
.feat-1 h3 {
	color: #777777;
	font-size: 16px;
	margin: 10px;
	font-weight: normal;
}
.feat-1 span {
	color: #316C60;
	font-size: 27px;
	font-weight: bold;
}
.quick-icon {
	float: left;
	width: 60px;
	margin-right: 35px;
	margin-left: 12px;
}
#page {
	margin: auto;
	max-width: 1200px;
	padding: 10px 0 10px;
}
#page h2 {
	padding: 2px 0 0 0px;
	color: #FFB606;
	margin: 10px 0 10px 0px;
	font-size: 28px;
	letter-spacing: 0.9px;
}
#page p {
	padding: 2px 0 0 0px;
	color: #555;
	margin: 10px 0 10px 0px;
	font-size: 15px;
	line-height: 23px;
}
.more_btn {
	padding: 7px 17px;
	background: #316C60;
	color: #fff;
	float: left;
	font-size: 14px;
	text-transform: uppercase;
	margin-top: 8px;
}
.more_btn:hover {
	background: #FFB606;
}
.bord {
	width: 50px;
	height: 1px;
	background: #FFB606;
}
.vide {
	float: left;
	width: 46%;
	margin-top: 22px;
	margin-right: 50px;
}
.video-container {
	position:relative;
	padding-bottom: 56.25%;
	padding-top: 30px;
	height: 0;
	overflow: hidden;
}
.video-container iframe, .video-container object, .video-container embed {
	position:absolute;
	top:0;
	left:0;
	width: 100%;
	height: 100%;
}
.featuring {
	padding: 25px 0;
	background: #FAFAFA;
	text-align: center;
}
.feature {
	margin: auto;
	width: 96%;
}
.core-value {
	float: left;
	width: 28.3%;
	margin: 10px 2.5%;
}
.feat-icon {
	width: 88px;	
}
.feature h2 {
    color: #337AB7;
    font-size: 24px;
    font-weight: bold;
	text-transform: uppercase;
    margin: 0 0 20px;
	letter-spacing: 1px;
    font-family: "Lato",Arial, Helvetica, sans-serif;
}
.feature h3 {
    color: #393939;
    font-size: 20px;
    margin: 25px 0 10px;
    text-transform: none;
	font-weight: normal;
}
.feature p {
    color: #848484;
    font-size: 15px;
	line-height: 22px;
}
.feat-devider {
	display: none;
	height: 1px;
	clear: both;
}
.counter-icon {
	display: block;
	margin: auto;
	width: 60px;
	margin-bottom: 25px;
}
.mission-message {
	padding: 0px 0 20px;
	background: #316C60;
	background: url(../image/bg-1.png);
    background-repeat: repeat-x;
    background-attachment: fixed;
}
.page-log {
	margin: auto;
	max-width: 1200px;
}
.best-1 {
	float: left;
	width: 34%;	
	border-radius: 2px;
	padding: 0px 0 12px;
	margin: 15px 1.5% 7px 0;
	border-radius: 20px 0 0px 0px;
}
.bgr1 {
	background: #fff;
}
.bgr2 {
	background: #fff;
}
.best-1 h3 {
	color: #fff;
	font-size: 16px;
	background: #316C60; 
	font-weight: normal;
	margin-top: 0px;
	margin-bottom: 10px;
	padding: 8px 20px;
	border-radius: 20px 0 0px 0px;
}
.best-1 p {
	color: #333;
	font-size: 14px;
	padding: 0 20px;
	line-height: 22px;
	font-weight: normal;
}
.dir-icon {
	width: 90px;
	float: left;
	margin-bottom: 16px;
	margin-right: 30px;
}
.mor {
	float: left;
	margin-left: 0px;
	padding: 3px 8px;
	font-size: 13px;
	color: #000;
	border: 1px solid #000;
	border-radius: 6px;
	margin-bottom: 7px;
}
.mor:hover {
	color: #fff;
	background: #316C60;
	border: 1px solid #fff;
}
.why-us {
	float: right;
	width: 29%;
	background: #fff;
	padding-bottom: 10px;
	margin-top: 15px;
	border-radius: 20px 0 0px 0px;
}
.why-us h2 {
	font-size: 17px; 
	text-align: center; 
	color:#fff;
	background: #FFB730;
	margin-top: 0px;
	margin-bottom: 10px;
	padding: 10px 0;
	font-weight: normal;
	border-radius: 20px 0 0px 0px;
}
.why-us p {
	padding: 0px 15px;
	font-size: 14px;
	color: #333;
	line-height: 20px;
}
.dot {
	float: left;
	width: 20px;
	margin-right: 10px;
	margin-bottom: 5px;
}
.pattern2 {	
	background: url(../image/apply-bg.jpg) center center;
}
.pattern-add2 {
	margin: auto;
	max-width: 1200px;
	padding: 35px 0 20px;
}
.pattern-add2 .h3 {
	font-size: 25px;
	color: #fff;
	float: left;
	text-align: left;
	width: 74%;
	padding-top: 8px;
	line-height: 22px;
	font-weight: normal;
	letter-spacing: 1px;
}
.pattern-add2 a {
	color: #000;
}
.pattern-add2 a:hover {
	color: #000;
}
.pattern-add2 span {
	text-align: left;
	font-size: 14px;
	color: #fff;
	letter-spacing: 0.5px;
}
.s-enquiry2 {
	float: right;
	font-size: 17px;
	padding: 12px 29px;
	margin: 20px 0 0 8%;
	background: #fff;
	border-radius: 7px;
}
.s-enquiry2:hover {
	background: #FFB730;
}
.courses {
	padding: 30px 0 40px;
	background: #F3F3F3;
}
.all-course {
	margin: auto;
	max-width: 1200px;
}
.all-course h2 {
	margin-bottom: 0.5em;
    margin-top: 10px;
    padding-bottom: 46px;
    position: relative;
    font-size: 2.2em;
    font-weight: bold;
	font-family: "Arial", Arial, sans-serif;
	text-transform: uppercase;
	background: url(../image/course-icon.jpg) center bottom no-repeat;
	text-align: center;
}
.all-course h4 {
    margin: 10px 120px 20px;
    position: relative;
    font-size: 19px;
	color: #747474;
    font-weight: normal;
	text-align: center;
}
.corus {
	float: left;
	width: 31.3%;
	margin: 10px 1%;
	background: #fff;
	padding: 10px 0 16px;
	border-radius: 3px;
	box-shadow: 1px 1px 4px rgba(0, 0, 0, 0.2);
}
.corus:hover {
	box-shadow: 3px 12px 16px rgba(0, 0, 0, 0.2);
}
.corus h3 {
	margin-bottom: 0.5em;
    margin-top: 10px;
    position: relative;
    font-size: 18px;
    font-weight: bold;
	font-family: "Arial", Arial, sans-serif;
	text-transform: uppercase;
}
.corus p {
    margin: 10px 20px 10px 0;
    position: relative;
    font-size: 15px;
	line-height: 22px;
	color: #747474;
}
.course-detail-icon {
	display: block;
	margin: auto;
	width: 75%;
}
.course-image {
	float: left;
	width: 30%;
	padding: 10px 0;
	margin-left: 2%;
}
.course-detail {
	float: right;
	width: 64%;
}
.course-btn {
	border: 2px solid #c8c8c8;
    border-radius: 4px;
    color: #000000;
    display: inline-block;
    font-size: 14px;
    line-height: 1;
    padding: 9px 14px;
    text-transform: uppercase;
}
.course-btn:hover {
	background: #FFB606;
	border: 2px solid #FFB606;
}
.dig-point {
	width: 100%;
	background: url(../image/point-bg.jpg) left center;
}
.why-option {
	float: right;
	width: 50%;
	padding: 20px 0;
	background: #316C60;
}
.why-choose {
	margin: 0 0px;
	width: 90%;
	margin: auto;
}
.why-choose h2 {
	color: #fff;
	margin-top: 0px;
	font-size: 24px;
	letter-spacing: 1px;
	margin-bottom: 20px;
}
.why-choose h3 {
	color: #FFDD00;
	margin-top: 25px;
	font-size: 19px;
	font-weight: normal;
	letter-spacing: 0.6px;
	margin-bottom: 5px;
}
.why-choose p {
	color: #fff;
	margin-top: 5px;
	font-size: 13px;
	line-height: 22px;
	margin-right: 0px;
}
.arrow-icon {
	width: 50px;
	float: left;
	margin-right: 25px;
	margin-bottom: 28px;
}
.page-banner {
	padding: 25px 10px 10px;
	background: #F3F4F3;
}
.topper-banner {
	margin: auto;
	max-width: 1200px;
}
.header-topper {
	float: left;
	width: 67%;
	text-align: center;
	margin-top: 20px;
}
.header-topper h2 {	
	color: #222;
	font-size: 24px;
	font-style: italic;
	margin-top: 10px;
	letter-spacing: 0.6px;
}
.title {
	background: #fff;
	padding: 4px 40px;
}
.models {
	padding: 4px 4px 8px;
	background: #fff;
	color: #222;
	text-align: center;
	margin: 2px 10px 0;
}
.models h4 {
	font-weight: normal;
	font-size: 15px;
	padding: 1px 0;
	color: #000;
	margin: 0px;
}
.models p {
	font-weight: normal;
	font-size: 14px;
	padding: 3px 0;
	margin: 0px;
	color: #FF2200;
}
.models img {
	height: 170px;
}
.ranks {
	padding: 2px 7px;
	background: #FFBC33;
	color: #fff;
	font-size: 11px;
}
.news {
	width: 28%;
	float: right;
	padding-bottom: 10px;
	margin-top: 15px;
	background: #fff;
	border: 2px solid #FFBC33;
}
.news h2 {
	font-size: 21px; 
	text-align: center; 
	color: #fff;
	background: #FFBC33;
	margin-top: 0px;
	letter-spacing: 0.6px;
	margin-bottom: 10px;
	padding: 10px 0;
	font-weight: normal;
}
.news p {
	padding: 0px 15px 10px;
	font-size: 13px;
	margin: 12px 0;
	color: #fff;
	line-height: 20px;
	border-bottom: 1px solid #ccc;
}
.highl2 {
	font-weight: bold;
	color: #00BFD6;
}
.news a, .news a:hover {
	color: #000;
}
.pattern {
	padding: 35px 0;
	background: url(../image/query-bg.jpg);
	background-attachment: fixed;
	text-align: center;
}
.pattern h3 {
	font-size: 30px;
	color: #fff;
	padding-top: 8px;
	line-height: 40px;
	font-weight: normal;
	letter-spacing: 1px;
	margin-top: 5px;
}
.s-enquiry {
	font-size: 17px;
	padding: 9px 24px;
	margin: 20px 0 0 10px;
	background: #FFBC33;
	color: #fff;
	border-radius: 4px;
}
.s-enquiry:hover {
	background: #316C60;
	color: #fff;
}
.makeup-services {
	margin: auto;
	padding: 25px 10px;
	text-align: center;
	background: #F3F3F3;
}
.makeup-services h1 {
	margin-bottom: 0.5em;
    margin-top: 10px;
    padding-bottom: 46px;
    position: relative;
    font-size: 2.2em;
    font-weight: bold;
	font-family: "Arial", Arial, sans-serif;
	text-transform: uppercase;
	background: url(../image/course-icon.jpg) center bottom no-repeat;
	text-align: center;
}
.makeup-services h4 {
    font-size: 16px;
    letter-spacing: 0.4;
    line-height: 25px;
	font-weight: normal;
	margin: 10px 160px;
}
.theme-select {
	margin: auto;
	margin-top: 20px;
	max-width: 1200px;
}
.titler {
	font-size: 19px;
	color: #316C60;
	margin: 4px 0 -9px;
	display: block;
}
#footer-wrapper {
	background: #316C60;
	position: relative;
	padding: 20px 0;
	width: 100%;
}
.footer-stat, #footer {
    margin: 0 auto;
	max-width: 1200px;
	text-align: center;
}
.footer-stat h2 {
    color: #fff;
	font-size: 19px;
	letter-spacing: 0.8px;
	font-weight: normal;
	text-transform: uppercase;
	font-family: 'Roboto Slab';
	margin: 12px 0 15px 0px;
}
.footer-stat h3 {
    color: #fff;
	font-size: 17px;
	letter-spacing: 0.8px;
	font-weight: normal;
	text-transform: uppercase;
	margin: 12px 0 15px 0px;
}
.footer-stat p {
    padding: 2px 10px 4px 0px;
	letter-spacing: 0.5px;
	font-size: 14px;
	margin-top: 0px;
	color: #fff;
	margin-bottom: 5px;
	line-height: 20px;
}
.foot {
    float: left;
	width: 27%;
	padding-right: 10px;
}
.foot2 {
    float: left;
	width: 20%;
	margin-left: 2%;
	padding-left: 10px;
}
.foot3 {
    float: left;
	width: 20%;
	margin-left: 2%;
	padding-left: 10px;
}
.bor {
	border-left: 1px solid #55BBA7;
}
.bor2 {
	border-left: 1px solid #55BBA7;
}
.foot-email {
	width: 30px;
}
.feeter {
	background: #FFBC33;
	padding: 15px 0;
}
#footer p {
	margin: 0;
	padding-top: 10px;
	line-height: normal;
	font-size: 14px;
	color: #fff;
	text-align: left;
}
#footer a {
	color: #fff;
	text-decoration: underline;
	font-size: 13px;
}
.dest {
	float: right;
}
.foot-link {
	text-align: center;
	padding: 15px 0 20px;
	border-bottom: 1px solid #55BBA7;
	margin-bottom: 15px;
}
.foot-link a {
	padding: 0 30px;
	color: #fff;
	font-size: 14px;
}
.foot-link a:hover {
	color: #FFDD00;
}
.spacers {
	border-right: 1px solid #55BBA7;
	padding-right: 20px;
}
.scl-icon2 {
	width: 20px;
	padding: 4px;
	background: #FFB730;
	margin-right: 5px;
	margin-left: 5px;
	margin-top: 8px;
}
.scl-icon2:hover {
	background: #316C60;
}
.get-btn {
	padding: 5px 21px;
	color: #000;
	background: #fff;
	border-radius: 20px;
	font-size: 16px;
	letter-spacing: 0.4px;
}
.get-btn:hover {
	color: #000;
	background: #FFDD00;
}
.clnts {
	background: #F2F2F2;
	padding: 20px 0 38px;
}
.clnts h2 {
	text-align: center;
	color: #000;
	font-weight: normal;
	font-size: 25px;
	margin-bottom: 30px;
}
.social-gallery {
	padding: 20px 0 30px;
	background: #fff;
}
.pic-gallery {
	margin: auto;
	max-width: 1200px;
}
.zoomer {
	width: 100%;
	float: left;
}
.zoomer h2 {
    font-size: 24px;
    font-family: Roboto Slab;
    color: #222;
    font-weight: normal;
    margin-bottom: 5px;
	margin-left: 10px;
}
.bords4 {
    height: 3px;
    width: 40px;
    background: #FFB72F;
    margin-bottom: 25px;
	margin-left: 10px;
}
.video-btn {
    float: right;
    padding: 4px 12px;
    background: #222;
    color: #fff;
    font-size: 14px;
    margin-top: 12px;
	margin-right: 10px;
}
.video-btn:hover {
	background: #FFB72F;
}
.scrollup {
	width: 42px;
	height: 42px;
	border-radius: 3px;
	text-indent: -9999px;
	position: fixed;
	bottom: 20px;
	right: 10px;
	display: none;
	z-index: 109999;
}
.page-detail {
	padding: 20px 10px;
	background: #F2F2F2;
	margin: 0px;
}
#matter {
	max-width: 1200px;
	margin: 0 auto;
	padding: 0px 0 15px;
}
.entry {
	float: left;
	width: 70%;
}
.entry h2 {
	padding: 2px 0 0 0px;
	color: #FBBD06;
	font-size: 27px;
	margin: 0px 0 10px 0px;
	font-weight: normal;
}
.entry p {
	line-height: 21px;
	padding: 5px 0;
	font-size: 14px;
	margin: 8px 0;
	color: #000;
}
.siders {
	float: right;
	width: 28%;
	margin-top: 20px;
}
.sider2 {
	background: #0D6DB7;
	margin-top: 20px;
	width: 100%;
}
.sider2 h3 {
    color: #fff;
	font-size: 19px;
	background: #316C60;
	font-weight: normal;
	margin-bottom: 0px;
	margin-top: 0px;
	padding: 8px 0px 8px 15px;
}
.sider2 a {
	color: #000;
	background: #fff;
	display: block;
	padding: 12px 10px;
}
.sider2 a:hover {
	color: #000;
	background: #BEE3FF;
}
.sider2 .still a {
	color: #000;
}
.sider2 ul {
	margin: auto;
	padding: 0px;
}
.sider2 li {
	list-style: none;
	float: left;
	font-size: 15px;
	padding: 0px 0;
	width: 100%;
	border-bottom: 1px solid #DEDEDE;
}
.sider-icon {
	float: left;
	width: 10px;
	margin-right: 9px;
	margin-top: 7px;
}
.listerz {
	margin-top: 15px;
	background-color: #FBBD06;
	border-radius: 4px;
	padding-bottom: 12px;
}
.listerz h2 {
	font-size: 20px;
	text-align: center;
	padding: 15px 0 12px 10px;
	margin-top: 0px;
	color: #fff;
	font-weight: normal;
	margin-bottom: 12px;
	line-height: 25px;
}
.listerz li {
	list-style: none;
	line-height: 20px;
	padding: 6px 0 7px 10px;
}
.listerz input[type="text"] {
	width: 84%;
	display: block;
	margin: auto;
	color: #999999;
	padding: 7px 2% 7px 4%;
	line-height: 20px;
	border: none;
	margin-top: 12px;
	font-size: 15px;
	background: #F6F6F6;
}
.listerz select {
	width: 91%;
	display: block;
	margin: auto;
	color: #999999;
	padding: 7px 2% 7px 4%;
	line-height: 20px;
	border: none;
	margin-top: 15px;
	font-size: 12px;
	background: #F6F6F6;
}
.listerz textarea {
	padding: 9px 0 9px 4%;
	border: none;
	background: #F6F6F6;
	width: 86%;
	display: block;
	margin: auto;
	font-size: 15px;
	margin-top: 12px;
	color: #999999;
}
.listerz input[type="submit"] {
	padding: 12px 0;
	background: #fff;
	display: block;
	width: 92%;
	display: block;
	margin: auto;
	color: #000;
	border-radius: 4px;
	text-align: center;
	cursor: pointer;
	font-size: 16px;
	font-weight: bold;
	border: 0px;
	margin-top: 9px;
	margin-bottom: 8px;
}
.gal-categ {
	float: left;
	width: 30%;
	text-align: center;
	margin: 0 1%;
	padding: 0.5%;
	background: #fff;
}
.gal-categ h4 {
	font-size: 18px;
	font-weight: normal;
	margin: 5px 0;
}
.team-categ {
	float: left;
	width: 22%;
	text-align: center;
	margin-right: 2%;
	padding: 0.5%;
	background: #E3FDFF;
}
.team-categ h4 {
	font-size: 18px;
	font-weight: normal;
	margin: 5px 0;
}
.searchs {
	width: 100%;
	margin-top: -300px;
	z-index: 9999;
	position: absolute;
	text-align: center;
	display: inline-block;
}
form.example input[type=text] {
  padding: 13px;
  font-size: 17px;
  border: 1px solid grey;
  float: left;
  width: 70%;
  background: #fff;
}

form.example button {
  float: left;
  width: 20%;
  padding: 13px;
  background: #FBBD06;
  color: white;
  font-size: 17px;
  border: 1px solid grey;
  border-left: none;
  cursor: pointer;
  margin-top: 6px;
}

form.example button:hover {
  background: #000;
}

form.example::after {
  content: "";
  clear: both;
  display: table;
}
.lex {
	float: left;
	width: 23%;
	text-align: center;
	margin: 10px 1%;
	padding-bottom: 20px;
	background-color: #fff;
	position: relative;
	-webkit-box-shadow: 2px 2px 3px 0 rgba(0,0,0,.2);
	-moz-box-shadow: 2px 2px 3px 0 rgba(0,0,0,.2);
	box-shadow: 2px 2px 3px 0 rgba(0,0,0,.2);
	-moz-transition: all 0.3s ease;
	-ms-transition: all 0.3s ease;
	-webkit-transition: all 0.3s ease;
	-o-transition: all 0.3s ease;
}
.lex h2 {
	font-size: 22px !important;
}
.lex:hover {
	transform: scale(1.06);
	-moz-transform: scale(1.06);
	-webkit-transform: scale(1.06);
	-o-transform: scale(1.06);
	-ms-transform: scale(1.06); /* IE 9 */
}
.cl1 {
	border-bottom: 4px solid #066FB2;
}
.cl2 {
	border-bottom: 4px solid #FD7200;
}
.cl3 {
	border-bottom: 4px solid #3FA86F;
}
.cl4 {
	border-bottom: 4px solid #974478;
}
.feat-icon {
	width: 80px;
	display: block;
	margin: auto;
	padding-top: 15px;
	margin-bottom: 15px;
}
.league {
	margin: 3px 0px 0px 0px;
	padding: 4px 9px;
	font-size: 12px;
	color: #FFFFFF;
	border-radius: 3px;
}
.sr1 {
	background: #066FB2;
}
.sr2 {
	background: #FD7200;
}
.sr3 {
	background: #3FA86F;
}
.sr4 {
	background: #974478;
}
.highl {
	color: #066FB2;
}
.highl2 {
	color: #FD7200;
}
.highl3 {
	color: #3FA86F;
}
.highl4 {
	color: #974478;
}
.course p {
    color: #838383;
    font-size: 13px;
    padding: 0 15px 0 15px;
    line-height: 21px;
}
#matter h2 {
    padding: 2px 0 0 0px;
    color: #FBBD06;
    font-size: 27px;
    margin: 0px 0 10px 0px;
    font-weight: normal;
}
#pack {
	background: #fff;
	padding: 30px 0;
}
.package {
	max-width: 1200px;
	margin: 0 auto;
}
#pack h2 {
    margin-bottom: 0.5em;
    margin-top: 10px;
    position: relative;
    font-size: 2.2em;
    font-weight: bold;
    font-family: "Arial", Arial, sans-serif;
    text-transform: uppercase;
    text-align: center;
}
.columns {
  float: left;
  width: 31.3%;
  margin: 1%;
}
.price {
  list-style-type: none;
  border: 1px solid #eee;
  margin: 0;
  padding: 0;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

.price:hover {
  box-shadow: 0 8px 12px 0 rgba(0,0,0,0.2)
}

.price .header {
  background-color: #316C60;
  color: white;
  font-size: 25px;
}

.price li {
  border-bottom: 1px solid #eee;
  padding: 20px;
  text-align: center;
  font-size: 16px;
}

.price .grey {
  background-color: #eee;
  font-size: 20px;
}

.button {
  background-color: #FABF33;
  border: none;
  color: white;
  padding: 10px 25px;
  text-align: center;
  text-decoration: none;
  font-size: 18px;
  border-radius: 25px;
}

.terms {
	border-radius: 0px;
	background: #fff;
	padding: 20px 0;
}
.terms-field {
	display: block;
	margin: auto;
	width: 80%;
	background: #fff;
	padding: 25px;
	border-radius: 20px;
	box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
	margin-top: 10px;
}
.terms-field h2 {
	color: #000;
	font-weight: normal;
	font-size: 20px;
	margin-top: 20px;
}
.terms-field p {
	color: #000;
	text-align: left;
	font-size: 15px;
	text-align: justify;
}
#work {
	padding: 20px 0;
	background: #fff;
}
.works {
	max-width: 1200px;
	margin: 0 auto;
}
.works h2 {
	text-align: center;
	font-size: 23px;
}
.work-icon {
	float: left;
	width: 90px;
	border-radius: 100px;
	margin-right: 20px;
	margin-top: -25px;
}
.works h3 {
	font-size: 18px;
}
.works p {
    padding: 2px 0 0 0px;
    color: #555;
    margin-top: -15px;
    font-size: 15px;
    line-height: 23px;
}
#addr {
	background: #F5F5F5;
	padding: 50px 0;
}
.address {
	max-width: 1200px;
	margin: 0 auto;
}
.contacts {
    width: 48%;
	float: left;
	margin: 1%;	
	background: #316C60;
	padding: 10px 0;
	border-radius: 10px;
}
.contacts h2 {
    color: #FFFFFF;
    font-weight: 600;
    font-size: 28px;
    margin-left: 20px;
	margin-right: 20px;
}
.contacts h3 {
    color: #fff;
    font-size: 20px;
    font-weight: 600;
    margin-left: 20px;
	margin-right: 20px;
}
.contacts p {
    color: #fff;
    font-size: 16px;
    margin-left: 20px;
	margin-right: 20px;
	margin-top: -10px;
}
.add-icon {
	width: 50px;
	float: left;
	margin-left: 20px;
	margin-right: 20px;
	margin-top: 20px;
	border: 3px solid #FFBC33;
	padding: 4px;
	border-radius: 50px;
}
.add-icon:hover {
	border: 3px solid #fff;
}
.main-icon {
	padding: 10px 0;
}
.maps {
	width: 48%;
	float: left;
	margin: 1%;
}
.mapss {
	margin: 0 auto;
}
input[type=text], select, textarea {
  width: 100%;
  padding: 12px;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
  margin-top: 6px;
  margin-bottom: 16px;
  resize: vertical;
}

input[type=submit] {
  background-color: #04AA6D;
  color: white;
  padding: 12px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

input[type=submit] {
  background-color: #fff;
  color: #000;
  padding-left: 30px;
  padding-right: 30px;
  font-weight: 600;
}

input[type=submit]:hover {
  background-color: #000;
  color: #fff;
}