<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <div>
        <form method="POST" action="update-details">
            {% csrf_token %}
            <input type="text" name="email" placeholder="Enter your new or existing email" required="true" /> <br /><br />
            <input type="text" name="contact" placeholder="Enter you current or existing phone number" required="true" /><br/><br />
            <input type="text" name="zip" placeholder="Enter new or existing zipcode" required="true" /><br /><br />
            <input type="text" name="subject" placeholder="Enter new or existing subjects" required="true" /><br /><br />
            <button type="submit">Update Details</button>
        </form>
    </div>
</body>
</html>