<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  <title>Gallery | Wisdom Tribes</title>
  <meta name="keywords" content="" />
  <meta name="description" content="" />
  <link href="image/icon.png" rel="icon" />
  <!-- Design -->
  <link href="css/style.css" rel="stylesheet" type="text/css" media="screen" />
  <link href="css/responsive.css" rel="stylesheet" type="text/css" media="screen" />
  <link href="css/fonts.css" rel="stylesheet" type="text/css" media="screen" />
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css" />
  <!-- Super Menu -->
  <link href="assets/css/bootstrap.minu.css" rel="stylesheet" />
  <link href="assets/css/dura-main.css" rel="stylesheet" />
  <link href="assets/css/dura-responsive.css" rel="stylesheet" />
  <!-- Image Effect -->
  <link rel="stylesheet" href="css/sass-compiled.css" />
  <script src="js/modernizr.js" type="text/javascript"></script>
  <!-- Gallery -->
  <link rel="stylesheet" href="css/smartphoto.min.css" />
  <script src="js/smartphoto.js?v=1"></script>
  <script>
    document.addEventListener("DOMContentLoaded", function () {
      new smartPhoto(".js-img-viwer");
    });
  </script>
  <!-- Banner -->
  <link href="banner/bootstrap.min.css" rel="stylesheet" />
  <script src="banner/jquery.min.js"></script>
  <script src="banner/bootstrap.min.js"></script>
  <!-- Product Scroll -->
  <link rel="stylesheet" type="text/css" href="css/initcarousel-1.css" />
  <script src="js/amazingcarousel.js"></script>
  <script src="js/initcarousel-1.js"></script>
  <!-- Testimonials -->
  <link rel="stylesheet" href="css/sppagebuilder.css" type="text/css" />
  <link rel="stylesheet" href="css/template.css" type="text/css" />
  <script src="js/sppagebuilder.js" type="text/javascript"></script>
  <!-- Sider Enquiry -->
  <link rel="stylesheet" href="css/feedback.css" />
  <script src="js/jquery-1.12.3.min.js"></script>
  <script src="js/feedback.js"></script>
  <!-- Back to Top -->
  <script type="text/javascript">
    $(document).ready(function () {
      $(window).scroll(function () {
        if ($(this).scrollTop() > 100) {
          $(".scrollup").fadeIn();
        } else {
          $(".scrollup").fadeOut();
        }
      });

      $(".scrollup").click(function () {
        $("html, body").animate({ scrollTop: 0 }, 600);
        return false;
      });
    });
  </script>
</head>

<body>
  <!-- Header -->
  <div id="sticky-anchor"></div>
  <div id="sticky">
    <div id="wrapper">
      <div id="header">
        <div class="logo">
          <a href="index.html"><img src="image/logo.png" alt="" /></a>
        </div>

        <div class="container nav-container">
          <div class="row header-bottom-row">
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 no-padding">
              <nav class="navbar navbar-inverse navbar-static-top">
                <div class="container-fluid">
                  <div class="navbar-header">
                    <button type="button" class="navbar-toggle collapsed" data-toggle="collapse"
                      data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
                      <span class="sr-only">Toggle navigation</span>
                      <span class="icon-bar"></span>
                      <span class="icon-bar"></span>
                      <span class="icon-bar"></span>
                    </button>
                  </div>

                  <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                    <ul class="nav navbar-nav">
                      <li><a href="index.html">Home</a></li>
                      <li class="dropdown tabbed-mega">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true"
                          aria-expanded="false">Tuition<span class="caret"></span></a>
                        <div class="dropdown-menu tabbed-menu tabbed-mega-menu tabbed-height-375">
                          <ul>
                            <li>
                              <a href="#" class="active-tab">online</a>
                              <div class="tabbed-menu-content active-tab-content container">
                                <div class="row">
                                  <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
                                    <h3>Poular Courses</h3>
                                    <ul>
                                      <li><a href="#">MBA</a></li>
                                      <li><a href="#">PGDM</a></li>
                                      <li><a href="#">Distance MBA</a></li>
                                      <li><a href="#">Online MBA</a></li>
                                      <li><a href="#">Part Time MBA</a></li>
                                    </ul>
                                    <h3>Top Colleges</h3>
                                    <ul>
                                      <li><a href="#">MIT</a></li>
                                      <li>
                                        <a href="#">Sharda University</a>
                                      </li>
                                      <li><a href="#">IIHM</a></li>
                                      <li><a href="#">IIM Bangalore</a></li>
                                      <li><a href="#">VIT Vellore</a></li>
                                    </ul>
                                  </div>
                                  <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
                                    <h3>Poular Courses</h3>
                                    <ul>
                                      <li><a href="#">MBA</a></li>
                                      <li><a href="#">PGDM</a></li>
                                      <li><a href="#">Distance MBA</a></li>
                                      <li><a href="#">Online MBA</a></li>
                                      <li><a href="#">Part Time MBA</a></li>
                                    </ul>
                                    <h3>Top Colleges</h3>
                                    <ul>
                                      <li><a href="#">MIT</a></li>
                                      <li>
                                        <a href="#">Sharda University</a>
                                      </li>
                                      <li><a href="#">IIHM</a></li>
                                      <li><a href="#">IIM Bangalore</a></li>
                                      <li><a href="#">VIT Vellore</a></li>
                                    </ul>
                                  </div>
                                  <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
                                    <h3>Poular Courses</h3>
                                    <ul>
                                      <li><a href="#">MBA</a></li>
                                      <li><a href="#">PGDM</a></li>
                                      <li><a href="#">Distance MBA</a></li>
                                      <li><a href="#">Online MBA</a></li>
                                      <li><a href="#">Part Time MBA</a></li>
                                    </ul>
                                    <h3>Top Colleges</h3>
                                    <ul>
                                      <li><a href="#">MIT</a></li>
                                      <li>
                                        <a href="#">Sharda University</a>
                                      </li>
                                      <li><a href="#">IIHM</a></li>
                                      <li><a href="#">IIM Bangalore</a></li>
                                      <li><a href="#">VIT Vellore</a></li>
                                    </ul>
                                  </div>
                                </div>
                              </div>
                            </li>

                            <li>
                              <a href="#">Offline</a>
                              <div class="tabbed-menu-content container">
                                <div class="row">
                                  <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
                                    <h3>School</h3>
                                    <ul>
                                      <li>
                                        <a href="#">Class 12 Tuition</a>
                                      </li>
                                      <li>
                                        <a href="#">Class 11 Tuition</a>
                                      </li>
                                      <li>
                                        <a href="#">Class 10 Tuition</a>
                                      </li>
                                      <li><a href="#">Class 9 Tuition</a></li>
                                      <li><a href="#">Class 8 Tuition</a></li>
                                      <li><a href="#">Class 7 Tuition</a></li>
                                      <li><a href="#">Class 6 Tuition</a></li>
                                      <li>
                                        <a href="#">Class 1 to 5 Tuition</a>
                                      </li>
                                      <li>
                                        <a href="#">Nursery-KG Tuition</a>
                                      </li>
                                    </ul>
                                  </div>
                                  <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
                                    <h3>College</h3>
                                    <ul>
                                      <li><a href="#">BTech Tuition</a></li>
                                      <li><a href="#">BCom Tuition</a></li>
                                      <li>
                                        <a href="#">Engineering Diploma Tuition</a>
                                      </li>
                                      <li><a href="#">BBA Tuition</a></li>
                                      <li><a href="#">BSc Tuition</a></li>
                                    </ul>
                                  </div>
                                  <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
                                    <h3>Subject</h3>
                                    <ul>
                                      <li><a href="#">Mathematics</a></li>
                                      <li><a href="#">English</a></li>
                                      <li><a href="#">Science</a></li>
                                      <li><a href="#">Physics</a></li>
                                      <li><a href="#">Hindi</a></li>
                                    </ul>
                                    <h3>More</h3>
                                    <ul>
                                      <li><a href="#">All Tuitions</a></li>
                                      <li><a href="#">Online Tuitions</a></li>
                                      <li><a href="#">NCERT Solutions</a></li>
                                      <li><a href="#">CBSE Syllabus</a></li>
                                    </ul>
                                  </div>
                                </div>
                              </div>
                            </li>
                          </ul>
                        </div>
                        <!-- /TABBED MENU -->
                      </li>
                      <li class="dropdown tabbed-mega">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true"
                          aria-expanded="false">Languages<span class="caret"></span></a>
                        <div class="dropdown-menu tabbed-menu tabbed-mega-menu tabbed-height-375">
                          <ul>
                            <li>
                              <a href="#" class="active-tab">Languages</a>
                              <div class="tabbed-menu-content active-tab-content container">
                                <div class="row">
                                  <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
                                    <h3>Foreign Languages</h3>
                                    <ul>
                                      <li><a href="#">Spoken English</a></li>
                                      <li><a href="#">German Language</a></li>
                                      <li><a href="#">French Language</a></li>
                                      <li>
                                        <a href="#">Spanish Language</a>
                                      </li>
                                      <li>
                                        <a href="#">Japanese Language</a>
                                      </li>
                                    </ul>
                                  </div>
                                  <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
                                    <h3>Indian Languages</h3>
                                    <ul>
                                      <li><a href="#">Hindi Language</a></li>
                                      <li>
                                        <a href="#">Kannada Language</a>
                                      </li>
                                      <li><a href="#">Tamil Language</a></li>
                                      <li><a href="#">Telugu Language</a></li>
                                      <li>
                                        <a href="#">Marathi Speaking</a>
                                      </li>
                                    </ul>
                                  </div>
                                  <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
                                    <h3>Other Languages</h3>
                                    <ul>
                                      <li>
                                        <a href="#">Chinese Language</a>
                                      </li>
                                      <li><a href="#">Arabic Language</a></li>
                                      <li>
                                        <a href="#">Russian Language</a>
                                      </li>
                                      <li>
                                        <a href="#">Italian Language</a>
                                      </li>
                                      <li>
                                        <a href="#">Sanskrit Language</a>
                                      </li>
                                    </ul>
                                    <h3>More</h3>
                                    <ul>
                                      <li><a href="#">All Languages</a></li>
                                    </ul>
                                  </div>
                                </div>
                              </div>
                            </li>
                          </ul>
                        </div>
                        <!-- /TABBED MENU -->
                      </li>
                      <li class="dropdown tabbed-mega">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true"
                          aria-expanded="false">Hobby Classes<span class="caret"></span></a>
                        <div class="dropdown-menu tabbed-menu tabbed-mega-menu tabbed-height-375">
                          <ul>
                            <li>
                              <a href="#" class="active-tab">Hobby Classes</a>
                              <div class="tabbed-menu-content active-tab-content container">
                                <div class="row">
                                  <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
                                    <h3>Dance & Music</h3>
                                    <ul>
                                      <li><a href="#">Dance</a></li>
                                      <li>
                                        <a href="#">Hindustani Music</a>
                                      </li>
                                      <li><a href="#">Guitar</a></li>
                                      <li><a href="#">Carnatic Music</a></li>
                                      <li><a href="#">Keyboard</a></li>
                                    </ul>
                                  </div>
                                  <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
                                    <h3>Hobbies</h3>
                                    <ul>
                                      <li><a href="#">Yoga</a></li>
                                      <li><a href="#">Cooking</a></li>
                                      <li><a href="#">Photography</a></li>
                                      <li><a href="#">Drawing</a></li>
                                      <li><a href="#">Painting</a></li>
                                    </ul>
                                  </div>
                                  <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
                                    <h3>Other Hobbies</h3>
                                    <ul>
                                      <li><a href="#">Singing</a></li>
                                      <li><a href="#">Violin</a></li>
                                      <li><a href="#">Piano</a></li>
                                      <li><a href="#">Makeup</a></li>
                                      <li><a href="#">Handwriting</a></li>
                                    </ul>
                                    <h3>More</h3>
                                    <ul>
                                      <li>
                                        <a href="#">All Hobby Classes</a>
                                      </li>
                                    </ul>
                                  </div>
                                </div>
                              </div>
                            </li>
                          </ul>
                        </div>
                        <!-- /TABBED MENU -->
                      </li>
                      <li class="dropdown tabbed-mega">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true"
                          aria-expanded="false">IT Courses<span class="caret"></span></a>
                        <div class="dropdown-menu tabbed-menu tabbed-mega-menu tabbed-height-375">
                          <ul>
                            <li>
                              <a href="#" class="active-tab">IT Courses</a>
                              <div class="tabbed-menu-content active-tab-content container">
                                <div class="row">
                                  <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
                                    <h3>Programming Languages</h3>
                                    <ul>
                                      <li><a href="#">Python Training</a></li>
                                      <li><a href="#">Java Training</a></li>
                                      <li><a href="#">.Net Training</a></li>
                                      <li><a href="#">C++ Language</a></li>
                                      <li><a href="#">C Language</a></li>
                                    </ul>
                                  </div>
                                  <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
                                    <h3>IT Training</h3>
                                    <ul>
                                      <li>
                                        <a href="#">Microsoft Excel Training</a>
                                      </li>
                                      <li><a href="#">SAP</a></li>
                                      <li><a href="#">Selenium</a></li>
                                      <li><a href="#">Angular.JS</a></li>
                                      <li>
                                        <a href="#">Amazon Web Services</a>
                                      </li>
                                    </ul>
                                  </div>
                                  <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
                                    <h3>Other IT Courses</h3>
                                    <ul>
                                      <li><a href="#">PHP</a></li>
                                      <li>
                                        <a href="#">Java Script Training</a>
                                      </li>
                                      <li>
                                        <a href="#">Adobe Photoshop Training</a>
                                      </li>
                                      <li><a href="#">DevOps Training</a></li>
                                      <li><a href="#">Data Science</a></li>
                                    </ul>
                                    <h3>More</h3>
                                    <ul>
                                      <li><a href="#">All IT Courses</a></li>
                                      <li>
                                        <a href="#">Software Training Institutes</a>
                                      </li>
                                    </ul>
                                  </div>
                                </div>
                              </div>
                            </li>
                          </ul>
                        </div>
                        <!-- /TABBED MENU -->
                      </li>
                      <li class="dropdown tabbed-mega">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true"
                          aria-expanded="false">Exam Coaching<span class="caret"></span></a>
                        <div class="dropdown-menu tabbed-menu tabbed-mega-menu tabbed-height-375">
                          <ul>
                            <li>
                              <a href="#" class="active-tab">Exam Coaching</a>
                              <div class="tabbed-menu-content active-tab-content container">
                                <div class="row">
                                  <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
                                    <h3>Study Abroad</h3>
                                    <ul>
                                      <li><a href="#">IELTS Coaching</a></li>
                                      <li>
                                        <a href="#">PTE Academic Exam Coaching</a>
                                      </li>
                                      <li><a href="#">GRE Coaching</a></li>
                                      <li><a href="#">GMAT Coaching</a></li>
                                      <li><a href="#">TOEFL Coaching</a></li>
                                    </ul>
                                  </div>
                                  <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
                                    <h3>Study in India</h3>
                                    <ul>
                                      <li>
                                        <a href="#">Engineering Entrance Coaching</a>
                                      </li>
                                      <li><a href="#">CA Coaching</a></li>
                                      <li>
                                        <a href="#">MBA Entrance Coaching</a>
                                      </li>
                                      <li>
                                        <a href="#">Medical Entrance Coaching</a>
                                      </li>
                                      <li><a href="#">CET Coaching</a></li>
                                    </ul>
                                  </div>
                                  <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
                                    <h3>Other Exams</h3>
                                    <ul>
                                      <li>
                                        <a href="#">IBPS Exam Coaching</a>
                                      </li>
                                      <li>
                                        <a href="#">UPSC Exams Coaching</a>
                                      </li>
                                      <li>
                                        <a href="#">Staff Selection Commission Exam</a>
                                      </li>
                                      <li>
                                        <a href="#">Bank Clerical Exam Coaching</a>
                                      </li>
                                      <li>
                                        <a href="#">UGC NET Exam Coaching</a>
                                      </li>
                                    </ul>
                                    <h3>More</h3>
                                    <ul>
                                      <li>
                                        <a href="#">All Exam Coaching Classes</a>
                                      </li>
                                    </ul>
                                  </div>
                                </div>
                              </div>
                            </li>
                          </ul>
                        </div>
                        <!-- /TABBED MENU -->
                      </li>
                      <li class="dropdown tabbed-mega">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true"
                          aria-expanded="false">Spiritual<span class="caret"></span></a>
                        <div class="dropdown-menu tabbed-menu tabbed-mega-menu tabbed-height-375">
                          <ul>
                            <li>
                              <a href="#" class="active-tab">Spiritual</a>
                              <div class="tabbed-menu-content active-tab-content container">
                                <div class="row">
                                  <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
                                    <h3>Nature Book</h3>
                                    <ul>
                                      <li><a href="#">Geeta</a></li>
                                      <li><a href="#">Quran</a></li>
                                      <li><a href="#">Mahabaharat</a></li>
                                      <li><a href="#">Baible</a></li>
                                    </ul>
                                  </div>
                                </div>
                              </div>
                            </li>
                          </ul>
                        </div>
                        <!-- /TABBED MENU -->
                      </li>
                      <li><a href="contact-us.html">Contact Us</a></li>
                      <li><a href="login.html">Login / Signup</a></li>
                    </ul>
                  </div>
                </div>
              </nav>
            </div>
          </div>
        </div>
      </div>
      <div class="breaker"></div>
    </div>
  </div>
  <!-- Banner -->
  <img src="image/about-banner.jpg" alt="" />
  <!-- Page Detail -->
  <div class="page-detail">
    <div id="matter">
      <h2>Photo Gallery</h2>
      <div class="brick">
        <a href="image/gallery/1.jpg" class="js-img-viwer" data-caption="" data-id="">
          <img src="image/gallery/1.jpg" />
        </a>
      </div>
      <div class="brick">
        <a href="image/gallery/2.jpg" class="js-img-viwer" data-caption="" data-id="">
          <img src="image/gallery/2.jpg" />
        </a>
      </div>
      <div class="brick">
        <a href="image/gallery/3.jpg" class="js-img-viwer" data-caption="" data-id="">
          <img src="image/gallery/3.jpg" />
        </a>
      </div>
      <div class="brick">
        <a href="image/gallery/4.jpg" class="js-img-viwer" data-caption="" data-id="">
          <img src="image/gallery/4.jpg" />
        </a>
      </div>
      <div class="brick">
        <a href="image/gallery/4.jpg" class="js-img-viwer" data-caption="" data-id="">
          <img src="image/gallery/4.jpg" />
        </a>
      </div>
      <div class="brick">
        <a href="image/gallery/3.jpg" class="js-img-viwer" data-caption="" data-id="">
          <img src="image/gallery/3.jpg" />
        </a>
      </div>
      <div class="brick">
        <a href="image/gallery/2.jpg" class="js-img-viwer" data-caption="" data-id="">
          <img src="image/gallery/2.jpg" />
        </a>
      </div>
      <div class="brick">
        <a href="image/gallery/1.jpg" class="js-img-viwer" data-caption="" data-id="">
          <img src="image/gallery/1.jpg" />
        </a>
      </div>
      <div class="breaker"></div>
    </div>
  </div>
  <!-- Footer -->
  <div id="footer-wrapper">
    <div class="foot-link">
      <a href="index.php" class="spacers">Home</a>
      <a href="about.html" class="spacers">About Us</a>
      <a href="terms.html" class="spacers">Terms & Condation</a>
      <a href="gallery.html" class="spacers">Gallery</a>
      <a href="contact-us.html">Contact Us</a>
      <div class="breaker"></div>
    </div>
    <div class="footer-stat">
      <div class="foot">
        <h3>Join Us For Better Future</h3>
        <div class="break"></div>
        <a href="#" class="get-btn">Admission Enquiry</a>
        <div class="break"></div>
        <p>
          <a href="#"><img src="image/social/facebook.png" alt="" class="scl-icon2" /></a>
          <a href="#"><img src="image/social/twitter.png" alt="" class="scl-icon2" /></a>
          <a href="#"><img src="image/social/google.png" alt="" class="scl-icon2" /></a>
          <a href="#"><img src="image/social/pinterest.png" alt="" class="scl-icon2" /></a>
        </p>
      </div>
      <div class="foot2 bor">
        <img src="image/email-icon.png" alt="" class="foot-email" />
        <h2>Mail</h2>
        <p>contact@Wisdoomstribe.com</p>
      </div>
      <div class="foot2 bor bor3">
        <img src="image/phone-icon.png" alt="" class="foot-email" />
        <h2>Call</h2>
        <p>+91 9973501160 / 9693167469</p>
      </div>
      <div class="foot3 bor2">
        <img src="image/address-icon.png" alt="" class="foot-email" />
        <h2>Address</h2>
        <p>1481 Creekside Lane Avila Beach, CA 931</p>
      </div>
      <div class="breaker"></div>
    </div>
    <div class="breaker"></div>
  </div>
  <div class="feeter">
    <div id="footer">
      <p>
        Copyright (c) 2022 Wisdom Tribes. All rights reserved.
        <span class="dest">Website Designed and Managed by
          <a href="#">Pollyanna Cosnultancy Services</a></span>
      </p>
      <div class="breaker"></div>
    </div>
  </div>
  <!-- Footer Code -->
  <a href="#" title="Back to Top"><img src="image/backtotopicon.png" alt="" class="scrollup" /></a>
  <div id="feedback">
    <div id="feedback-form" style="display: none" class="col-xs-4 col-md-4 panel panel-default">
      <div class="lister2">
        <h3>Quick Enqquiry</h3>
        <p>
          (Submit your details below and you will be contacted by our
          Executive)
        </p>
        <form method="post" name="msgform" id="msgform" onsubmit="return validate(this)" action="">
          <input name="name" id="name" type="text" placeholder="Name" />
          <input name="name" id="name" type="text" placeholder="Email Id" />
          <input name="name" id="name" type="text" placeholder="Mobile No." />
          <textarea name="pcomment" id="pcomment" placeholder="Enter your Comment" rows="2" cols=""></textarea>
          <input name="send" type="submit" id="send" value="Submit" onclick="return validate();" />
        </form>
      </div>
    </div>
    <div id="feedback-tab">
      <span></span>
    </div>
  </div>
</body>

</html>