{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  <title>Pricing | Wisdom Tribes Educare Pvt Ltd</title>
  <meta name="keywords" content="best online and offline Tuition" />
  <meta name="description" content="" />
  <meta name="business name " content=" Wisdom Tribe Educare Pvt Ltd" />
  <link href="{% static 'image/icon.png' %}" rel="icon" />

    

</head>

<body>


{% include 'sidebar3.html' %}
{% include 'sprice.html' %}
{% include 'tprice.html' %}
{% include 'footer2.html' %}


</body>

</html>