<!doctype html>
<html>
<head>
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1">
<title>Terms & Condation | Wisdom Tribes</title>
<meta name="keywords" content="" />
<meta name="description" content="" />
<link href="image/icon.png" rel="icon">
<!-- Design -->
<link href="css/style.css" rel="stylesheet" type="text/css" media="screen" />
<link href="css/responsive.css" rel="stylesheet" type="text/css" media="screen" />
<link href="css/fonts.css" rel="stylesheet" type="text/css" media="screen" />
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<!-- Super Menu -->
<link href="assets/css/bootstrap.minu.css" rel="stylesheet">
<link href="assets/css/dura-main.css" rel="stylesheet">
<link href="assets/css/dura-responsive.css" rel="stylesheet">
<!-- Image Effect -->
<link rel="stylesheet" href="css/sass-compiled.css" />
<script src="js/modernizr.js" type="text/javascript"></script>
<!-- Gallery -->
<link rel="stylesheet" href="css/smartphoto.min.css">
<script src="js/smartphoto.js?v=1"></script>
<script>
  document.addEventListener('DOMContentLoaded',function(){
  new smartPhoto(".js-img-viwer");
});
</script>
<!-- Banner -->
<link href="banner/bootstrap.min.css" rel="stylesheet" />
<script src="banner/jquery.min.js"></script>
<script src="banner/bootstrap.min.js"></script>
<!-- Product Scroll -->
<link rel="stylesheet" type="text/css" href="css/initcarousel-1.css">
<script src="js/amazingcarousel.js"></script>
<script src="js/initcarousel-1.js"></script>
<!-- Testimonials -->
<link rel="stylesheet" href="css/sppagebuilder.css" type="text/css" />
<link rel="stylesheet" href="css/template.css" type="text/css" />
<script src="js/sppagebuilder.js" type="text/javascript"></script>
<!-- Sider Enquiry -->
<link rel="stylesheet" href="css/feedback.css" />
<script src="js/jquery-1.12.3.min.js"></script> 
<script src="js/feedback.js"></script>
<!-- Back to Top -->
<script type="text/javascript">
  $(document).ready(function(){ 

    $(window).scroll(function(){
      if ($(this).scrollTop() > 100) {
        $('.scrollup').fadeIn();
      } else {
        $('.scrollup').fadeOut();
      }
    }); 

    $('.scrollup').click(function(){
      $("html, body").animate({ scrollTop: 0 }, 600);
      return false;
    });

  });
</script>
</head>

<body>
<!-- Header -->
{% include 'sidebar3.html' %}
<!-- Terms -->





      

    
 
    
    
    
    <center> <h1> Privacy Policy </h1> <center>


    <p>Use of the wisdomstribe.com Site and/or the wisdomstribe.com Service is governed by our Privacy Policy and follow guidelines to protect your privacy.</p>
    <p><b>8. Disclaimers.</b></p>
    <p>1. wisdomstribe.com is not responsible for any incorrect or inaccurate Content/listing posted on the Site or in connection with the wisdomstribe.com Service, whether caused by Users, Members or by any of the equipment or programming associated with or utilized in the Service, nor for the conduct of any User and/or Member of the wisdomstribe.com Service whether online or offline.</p>
    <p>2. wisdomstribe.com assumes no responsibility for any error, omission, interruption, deletion, defect, delay in operation or transmission, communications line failure, theft or destruction or unauthorized access to, or alteration of, User and/or Member communications or any communications by wisdomstribe.com to its Members.</p>
    <p>3. wisdomstribe.com is not responsible for any problems or technical malfunction of any telephone network or lines, computer on-line-systems, servers or providers, computer equipment, software, failure of email or players on account of technical problems or traffic congestion on the Internet or at any web site or combination thereof, including injury or damage to Users and/or Members or to any other person's computer related to or resulting and/or in connection with the wisdomstribe.com Service.</p>
    <p>4. Under no circumstances will wisdomstribe.com be responsible for any loss or damage resulting from anyone's use of the Site or the Service and/or any Content posted on the Wisdomstribe.com Site or transmitted to Wisdomstribe.com Members. You should not provide your financial information (for example, your credit card or bank account information), or wire or otherwise send money, to other Members</p>
    <p>5. .</p>
    <p>6. Wisdomstribe.com expressly disclaims any liability or responsibility whatsoever and howsoever arising as a result of any Content/listing posted on the Site / made available to wisdomstribe.com by any Members or the users of the Site or any third party</p>
    <p>7. Wisdomstribe.com does not assume any responsibility or liability for any illegal Content posted on the Site by any Members, users or any third party.</p>
    <p>8. All liability, whether civil or criminal arising out of any Content that is Posted on the Site will be of that Member / user / third party who has Posted such Content and wisdomstribe.com reserves its right to claim damages from such Member/ user / third party that it may suffer as a result of such Content Posted on the Site. Wisdomstribe.com does not claim ownership of Content you submit or make available for inclusion on the Service.</p>
    <p><b>• Limitation on Liability.</b></p>
    <p>In no event will wisdomstribe.com be liable to you or any third person for any indirect, consequential, exemplary, incidental, special or punitive damages, including also lost profits arising from your use of the Site or the wisdomstribe.com Service, even if wisdomstribe.com has been advised of the possibility of such damages. Notwithstanding anything to the contrary contained herein, wisdomstribe.com 's liability to you for any cause whatsoever, and regardless of the form of the action, will at all times be limited to the amount paid, if any, by you to wisdomstribe.com, for the Service during the term of membership.</p>
    <p><b>9. Jurisdiction.</b></p>
    <p>If there is any dispute about or involving the Site and/or the Service, by using the Site, you unconditionally agree that all such disputes and/or differences will be governed by the laws of India and shall be subject to the exclusive jurisdiction of the Competent Courts in Patna, India only.</p>
    <p><b>10. Indemnity.</b></p>
    <p>You agree to indemnify and hold wisdomstribe.com, its subsidiaries, affiliates, officers, agents, and other partners and employees, fully indemnified and harmless from any loss, liability, claim, or demand, including reasonable attorney's fees, made by any third party due to or arising out of your use of the Service in violation of this Agreement and/or arising from a breach of these Terms of Use and/or any breach of your representations and warranties set forth above and/or any fraudulent act on your part.</p>
    <p><b>11. Other.</b></p>
    <p>0. By becoming a Member of the wisdomstribe.com service, you agree to receive certain specific email from wisdomstribe.com and/or its group sites. You can unsubscribe at any time for any reason quickly and easily by clicking on the unsubscribe link enclosed in the mail. You can also manage your subscription to these emails using the My Alert Manager option.</p>
    <p>1. This Agreement, accepted upon use of the Site and further affirmed by becoming a Member of the wisdomstribe.com service, contains the entire agreement between you and wisdomstribe.com regarding the use of the Site and/or the Service. If any provision of this Agreement is held invalid, the remainder of this Agreement shall continue in full force and effect.</p>
    <p>By becoming a member of wisdomstribe.com and/or using the Services of the Site, you unconditionally and irrevocably confirm that you have read and understood the above provisions and agree to abide by them. If you are not agreeing to any of the above terms and conditions please refrain yourself from registering on the Site wisdomstribe.com.</p>
    <p>This Agreement is an electronic document in terms of the Information Technology Act, 2000 and Rules there under pertaining to electronic records as applicable and amended. This electronic record is generated by a computer system and does not require any physical or digital signatures.</p>
  </div>
</div>
<!-- Footer -->
{% include 'footer2.html' %}
</body>
</html>